
<div class="row">
  <aside class="span3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <!--<section>
  <%= render 'shared/stats' %>
</section> -->
    <section>
        <%= render 'shared/micropost_form' %>
    </section>
    <section>
      <h3>Notices</h3>
      <%= render 'shared/feed' %>
    </section>
  </aside>
  <div class="span9">
    <img src="/assets/rp_Banner_triNE_blur.png"/>
    <%= render 'shared/admin_message' %>
  </div>
</div>





