
<div class="row">
  <div class="span4 offset1">
    <h2>club information</h2>
    <%= f.label :name, "Club Name" %>
    <%= f.text_field :name %>

    <%= f.label :sub_domain, "Custom URL" %>
    <%= f.text_field :sub_domain %>

  </div>
  <div class="span4 offset1">
    <h2>administrator information</h2>
    <%= f.fields_for :user do |cf| %>
        <%= cf.label :name %>
        <%= cf.text_field :name %>

        <%= cf.label :email %>
        <%= cf.text_field :email %>

        <%= cf.label :password %>
        <%= cf.password_field :password %>

        <%= cf.label :password_confirmation, "Password Confirmation" %>
        <%= cf.password_field :password_confirmation %>

        <%= f.submit "Add My Club", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>





