<%= provide(:title, 'Add Club') %>
<%= render 'shared/show_banner' %>
<h1>new club registration</h1>

<div class="row">
  <div class="span12">
    <%= form_for(@club) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>
        <%= render 'fields', :f => f %>
    <% end %>
  </div>
</div>
