<div class="container">
  <div class="span8 offset2">
    <h1><%= @club.name %></h1>
    <table class="table table-striped table-condensed">
      <thead>
      <th>Setting</th>
      <th>Value</th>
      <th>Edit</th>
      </thead>
      <tbody>
      <tr>
        <td>Sub Domain</td>
        <td><%= @club.sub_domain %></td>
      </tr>
      <tr>
        <td>Welcome Message</td>
        <td><%= @club.welcome_message %></td>
      </tr>
      <tr>
        <td>Heading1</td>
        <td><%= @club.heading1 %></td>
      </tr>
      <tr>
        <td>Message1</td>
        <td><%= @club.message1 %></td>
      </tr>
      <tr>
        <td>Heading2</td>
        <td><%= @club.heading2 %></td>
      </tr>
      <tr>
        <td>Message2</td>
        <td><%= @club.message2%></td>
      </tr>
      <tr>
        <td>Heading3</td>
        <td><%= @club.heading3%></td>
      </tr>
      <tr>
        <td>Message3</td>
        <td><%= @club.message3%></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


