<% provide(:title, "Sign in") %>
<%= render 'shared/show_banner' %>
<h1>sign in</h1>

<div class="row">
  <div class="span4 offset4">
    <%= form_for(:session, url: sessions_path) do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign Up Now!", signup_path %></p>
    <p><%= link_to "forgotten password?", new_password_reset_path %></p>
  </div>
</div>