<% provide(:title, @forum.name) %>
<%= render_breadcrumbs :separator => '<i class="icon-chevron-right"></i>' %><br>

      <div class="page-header">
        <h4>
          <%= @forum.name %> Forum
        </h4>
        <h5><%= @forum.description %></h5>

      </div>
        <table id="tblForum" class="table table-condensed table-striped">
          <thead>
            <th width="50%">Topic Title</th>
            <th width="10%">Replies</th>
            <th width="20%">Original Post</th>
            <th width="20%">Last Post</th>
          </thead>
          <tbody>
          <% @topics.each do |topic| %>
              <tr>
                <td><%= link_to h(topic.name), topic_path(topic.id) %>
                <td><%= topic.posts.count - 1 %></td>
                <td>
                  <%= gravatar_for topic.user, :size => 50 %>
                  <%= distance_of_time_in_words_to_now topic.created_at %> ago by <%= link_to topic.user.name %>
                </td>
                <td class="right">
                  <%= gravatar_for latest_poster(topic.last_poster_id), :size => 50 %>
                  <%= distance_of_time_in_words_to_now topic.last_post_at %> ago by <%= link_to latest_poster(topic.last_poster_id).name, "/users/#{topic.last_poster_id}" %>
                </td>
                <td>
                    <% if current_user.admin?%>
                        <%= link_to "Edit", edit_topic_path(topic), class: "btn btn-mini btn-primary"%>
                        <%= link_to "Delete", topic, class: "btn btn-mini btn-danger", :confirm => 'Are you sure?', :method => :delete %>
                    <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
          <tfoot></tfoot>
        </table>
      <%= will_paginate @topics,
          :style => 'font-size: small',
          :next_label => ">>",
          :previous_label => "<<"%>

        <%= link_to "Create New Topic", "/topics/new?forum=#{@forum.id}", id:"btnNewTopic",class: "btn btn-large btn-primary" %>
      </div>
      <div id="frmNewTopic">
        <%= render 'new_topic' %>
      </div>