<% provide(:title, @forum.name) %>


      <div class="page-header">
        <h1>
          <%= @forum.name %> Forum
        </h1>
        <h2><%= @forum.description %></h2>

      </div>
        <table class="table table-condensed table-striped">
          <thead>
            <th width="60%">Topic Title</th>
            <th width="10%">Replies</th>
            <th width="30%">Last Post</th>
          </thead>
          <% @topics.each do |topic| %>
              <tr>
                <td><%= link_to h(topic.name), topic_path(topic.id) %>
                <td><%= topic.posts.count - 1 %></td>
                <td class="right">
                  <%= gravatar_for latest_poster(topic.last_poster_id) %>
                  <%= distance_of_time_in_words_to_now topic.last_post_at %> ago by <%= link_to latest_poster(topic.last_poster_id).name, "/users/#{topic.last_poster_id}" %>
                </td>
                <td>
                    <% if current_user.admin?%>
                        <%= link_to "Edit", edit_topic_path(topic), class: "btn btn-mini btn-primary"%>
                        <%= link_to "Delete", topic, class: "btn btn-mini btn-danger", :confirm => 'Are you sure?', :method => :delete %>
                    <% end %>
                </td>
              </tr>
          <% end %>
        </table>
      <%= will_paginate @topics,
          :style => 'font-size: small',
          :next_label => ">>",
          :previous_label => "<<"%>

        <%= link_to "Create New Topic", "/topics/new?forum=#{@forum.id}", class: "btn btn-large btn-primary" %>
      </div>