<table class="table table-condensed table-striped">
  <thead>

  <th width="70%">
    <%= gravatar_for(@topic.user, :size => 65) %>
    Posted By: <%= link_to(@topic.user.name, @topic.user)%><br>
    Original Post: <%= @topic.created_at.to_date %><br>
    Last Updated: <%= distance_of_time_in_words_to_now @topic.last_post_at %> ago<br>
    Topic: <%= @topic.name %> <br>
    <br>
    Original Post:<br> <%= markdown.render(@topic.original.content).html_safe %>
<%= render 'shared/addthis_share' %>
  </th>
  <th></th>

  </thead>
  <tbody id="tblPosts">
  <% unless @posts.nil? || @posts.count == 0%>
  <% @posts.each do |post| %>

      <tr>
        <td width="70%"><div style="word-wrap: break-word"><p><%= markdown.render(post.content).html_safe %></p></div></td>
        <td class="right" width="10%">
          <%= gravatar_for(post.user, :size => 30) %>
          Posted By: <%= link_to(post.user.name,post.user )%><br>

        </td>
        <td width="10%"><%= distance_of_time_in_words_to_now post.created_at %> ago</td>
        <td width="10%">
          <% if post.user == current_user && post.created_at > 15.minutes.ago %>
              <%= link_to raw('<i class="icon-pencil icon-white"></i>'), "/posts/#{post.id}/edit", :class => "btn btn-mini btn-primary", :method => :get %>
          <% end %>
          <% if current_user.admin?%>
              <%= link_to raw('<i class="icon-trash icon-white"></i>'), post, :class => "btn btn-mini btn-danger", :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
        </td>
      </tr>

  <% end %>
  </tbody>
  <% end %>
</table>
  <%= will_paginate @posts,
                    :style => 'font-size: small',
                    :next_label => ">>",
                    :previous_label => "<<"%>
