<% provide(:title) %>
<%= render_breadcrumbs :separator => '<i class="icon-chevron-right"></i>' %><br>
<div class="page-header">
    <h4><%= @topic.name %></h4>
</div>

<div class="row" id="replyTopic">
  <div class="span12">
    <%= form_for(@topic, :remote => false, :id => 'edit_topic') do |f| %>
            <%= render 'topic' %>
        <%= render 'reply_post', :f => f %>
    <% end %>
 </div>
</div>
<%= render_addthis_share %>



