<% provide(:title) %>
<%= render_breadcrumbs :separator => '<i class="icon-chevron-right"></i>' %><br>
<div class="page-header">
    <h4><%= @topic.name %></h4>
</div>

<div class="row" id="replyTopic">
  <div class="span12">
    <%= form_for(@topic, :remote => false, :id => 'edit_topic') do |f| %>

        <!--Posts for topic-->

            <%= render 'topic' %>


        <!--Place Holder for Ajax Update-->
        <div id="showPosts">
        </div>

        <%= render 'reply_post', :f => f %>
    <% end %>  <!--form end-->
 </div>
</div>



