<% provide(:title) %>
<div class="page-header">
  <h2>
    <%= @topic.name %>
  </h2>
</div>
<table class="table table-condensed table-bordered table-striped">
  <thead>

  <th width="60%">
    <%= gravatar_for(@topic.user, size: 65) %>
    Posted By: <%= link_to(@topic.user.name, users_path)%><br>
    Original Post: <%= @topic.created_at.to_date %><br>
    Last Updated: <%= distance_of_time_in_words_to_now @topic.last_post_at %><br>
    Topic: <%= @topic.name %>
  </th>
  <th width="20%">Post</th>
  <th width="20%">Posted at</th>
  <th></th>
  </thead>
  <% for post in @topic.posts %>

      <tr>
        <td><h4><div style="word-wrap: break-word"><p><%= post.content %></p></div></h4></td>
        <td class="right">
          <%= gravatar_for(post.user, size: 55) %>
          Posted By: <%= link_to(@topic.user.name, users_path)%><br>
          Original Post: <%= @topic.created_at.to_date %><br>
        </td>
        <td><%= distance_of_time_in_words_to_now post.created_at %> ago</td>
      </tr>

  <% end %>
</table>
<%= link_to "Reply","#{new_post_path}?topic=#{@topic.id}",class: "btn btn-mini btn-primary"%>
<% if current_user.admin? %>
    <p>
      <%= link_to "Delete", @topic, :confirm => 'Are you sure?', :method => :delete %> |
    </p>
<% end %>
