<% provide(:title, "Edit user") %>
<h4><%= @user.name %>'s settings</h4><hr class="shadow">

<div class="row">
  <div class="span6 offset1">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>
        <p>Expiration: <%= show_date_with_time(@user.anniversary) %>
          <% if current_user == @user %>
          | <%= link_to "renew membership","/renew_users/#{current_user.id}", :id => "btnRenew" %><p> <hr class="style-four">
          <% end %>
        <%=render 'edit_fields', :f => f %>
        <%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
    <% end %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
</div>
