<% provide(:title, 'All Users')%>
<h4><%= current_user.club.name %> Members <i class="icon-user"></i></h4><hr class="shadow">

        <table id="tblUsers" class="table table-condensed table-striped">
          <thead>
            <th>User</th>
            <th>Joined</th>
            <% if current_user.admin? %>
              <th>Email</th>
              <th>Active</th>
              <th>Exipry date</th>
              <th>Referrals</th>
          <% end %>
            <th>Posts</th>
          </thead>
          <tbody>
          <% @users.each do |user|%>
            <tr>
              <td><%= link_to user.name, user %><br>
                <% if current_user.admin? %>
                <%= link_to "Edit", edit_user_path(user)%> |
                <%= link_to "Delete", user, :confirm => 'Are you sure?', :method => :delete%>
                <% end %>
              </td>
              <td><%= show_date_with_time(user.created_at) %></td>
              <% if current_user.admin? %>
                  <td><%= user.email %></td>
                  <td><%= user.active_yes_no %></td>
                  <td><%= show_date_with_time(user.anniversary) %></td>
                  <td><%= user.referral_count %></td>
              <% end %>
              <td><%= user.posts.count %></td>
            </tr>
          <% end %>
          </tbody>
          <tfoot>
            <th><%= @users.count %></th>
            <th></th>
            <th></th>
            <th></th>
          </tfoot>
        </table>





