<% provide(:title, 'All Users')%>
<h1><%= current_user.club.name %> Users</h1>

        <table id="tblUsers" class="table table-condensed table-striped">
          <thead>
            <th>User</th>
            <th>Joined</th>
            <% if current_user.admin? %><th>Email</th><% end %>
            <th>Posts</th>
          </thead>
          <tbody>
          <% @users.each do |user|%>
            <tr>
              <td><%= link_to user.name, user %></td>
              <td><%= time_ago_in_words(user.created_at) %></td>
              <% if current_user.admin? %><td><%= user.email %></td><% end %>
              <td><%= user.posts.count %></td>
            </tr>
          <% end %>
          </tbody>
          <tfoot>
            <th><%= @users.count %></th>
            <th></th>
            <th></th>
            <th></th>
          </tfoot>
        </table>





