<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 120 %>
        <%= @user.name %>
      </h1>
      <div class=" well user-stats">
          <ul>
              <li>Joined <%= time_ago_in_words(@user.created_at) %> ago</li>
              <li>Posted <%= @user.posts.count %> times</li>
          </ul>
      </div>
    </section>
  </aside>
  <div class="span8">
    <!--<%= render 'follow_form' if signed_in? %> -->
    <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>