<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, :size => 120 %>
        <%= @user.name %>
      </h1>
      <div class=" well user-stats">
          <ul>
              <li>Joined <%= time_ago_in_words(@user.created_at) %> ago</li>
              <li>Posted <%= @user.posts.count %> times</li>

            <div class="big-buffer"></div>
            <div class="big-buffer"></div>
            <div class="big-buffer"></div>
            <div class="big-buffer"></div>
            <% if current_user == @user %>
            <li>Expiration: <%= show_date_with_time(@user.anniversary)%></li>
                <%= link_to "renew membership","/renew_users/#{current_user.id}", :id => "btnRenew" %><p> <hr class="style-four">
            <% end %>
          </ul>
      </div>
    </section>
  </aside>

  <div class="span8">
    <div class="big-buffer"></div>
    <% if @user.profile.nil? %>
        <p>A Profile for <%= @user.name %> has not been created</p>
        <% if current_user == @user %>
            <%= link_to 'Create profile', new_profile_path, :class => "btn btn-large btn-primary" %>
        <% end %>
    <% else %>
        <table class="table">
          <tr><td><p><i>Name:</i> <%= @user.real_name%></p></td></tr>
          <tr><td><p><i>Age:</i> <%= @user.age %></p></td></tr>
          <tr><td><p><i>blog: </i><%= link_to @user.profile.blog, url_with_protocol(@user.profile.blog) %></p></td></tr>
          <tr><td><p><i>Biography:</i> <%= markdown.render(@user.profile.bio).html_safe %><p></td></tr>
        </table>
        <% if current_user == @user || current_user.admin?%>
            <table class="table">
                <tr><td><p><i>Primary Contact Number:</i> <%= number_to_phone(@user.profile.contact_number)%></p></td></tr>
                <tr><td><p><i>Emergency Contact:</i> <%= @user.profile.econtact_name %></p></td></tr>
                <tr><td><p><i>Emergency Contact Number:</i> <%= number_to_phone(@user.profile.econtact_number.to_i) %></p></td></tr>
                <tr><td><p><i>T-Shirt Size:</i> <%= @user.profile.shirt_size %></p></td></tr>
            </table>
            <%= link_to 'Edit profile', edit_profile_path, :class => "btn btn-large btn-primary" %>
        <% end %>
    <% end %>
  </div>
</div>