
  <% if signed_in? %>
      <div class="well">
        <h1><%= current_user.club.name %></h1>
        <% unless current_club.active?%>
            <% if current_user.admin? %>
                <h2>[trial period]</h2>
            <% end %>
        <% end %>
      </div>

  <% else %>
      <div class="hero-unit center">
          <h1><%= club_url(request.subdomain).name %></h1>
          <h2>
            Welcome to the <%= club_url(request.subdomain).name %>!<br><br>
            A meeting place for triathletes to exchange training tips,
            organize group workouts, and to share race experiences<br><br>
          </h2>
            <%= link_to "Sign in!", '/signin', :id => "btnLogin", :class => "btn btn-large btn-primary" %> /
            <%= link_to "Sign up now!", '/signup', :class => "btn btn-large btn-primary" %>
            <% if request.subdomain == 'www' %>
                / <%= link_to "Add My Club!", '/addclub', :class => "btn btn-large btn-primary" %>
            <% end %>
      </div>
  <% end %>

      <div class="row-fluid">
        <div class="span4">
          <h2><%= club_url(request.subdomain).heading1 %></h2>
          <%= club_url(request.subdomain).message1 %>
        </div><!--/span-->
        <div class="span4">
          <h2><%= club_url(request.subdomain).heading2 %></h2>
          <%= club_url(request.subdomain).message2 %>
        </div><!--/span-->
        <div class="span4">
          <h2><%= club_url(request.subdomain).heading3 %></h2>
          <%= club_url(request.subdomain).message3 %>
        </div><!--/span-->
      </div><!--/row-->

