<%= form_for(@user) do |f| %>
    <div class="row" id="tabs">

      <ul>
        <li><a href="#tabs-1">User Information</a></li>
        <li><a href="#tabs-2">Payment Information</a></li>
      </ul>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="span4">
        <div id="tabs-1">
          <%= render 'fields', f: f %>
          <%= link_to 'Next >>', "#" ,class: "btn btn-large btn-primary", id: "btnTabs" %>
        </div>
        <div id="tabs-2">
          <label for="fee"><h5>Yearly Fee - $<%= @club.fee %></h5></label>
          <input type="hidden" id="stripe_pk" value="<%= @club.stripe_publishable_key %>"/>

          <%= render 'shared/cc_input' %>

          <%= f.submit "Create my account", id:"btnNewUser" ,class: "btn btn-large btn-primary" %>

        </div>
      </div>
    </div>


<% end %>