<%= form_for(@user) do |f| %>
    <div class="row" id="tabs">

      <ul>
        <li><a href="#tabs-1">User Information</a></li>
        <li><a href="#tabs-2">Payment Information</a></li>
      </ul>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="span4">
        <div id="tabs-1">
          <%= render 'fields', f: f %>
          <%= link_to 'Next >>', "#" ,class: "btn btn-large btn-primary", id: "btnTabs" %>
        </div>
        <div id="tabs-2">
          <label for="fee"><h5>Yearly Fee - $<%= @club.fee %></h5></label>
          <input type="hidden" id="stripe_pk" value="<%= @club.stripe_publishable_key %>"/>
          <%= label_tag :card_number, "Credit Card Number " %>
          <%= text_field_tag :card_number, nil, name: nil, class: "ccinput"%>

          <%= label_tag :card_code, "Security Code on Card (CVV)" %>
          <%= text_field_tag :card_code, nil, name: nil %>

          <%= label_tag :card_month, "Card Expiration" %>
          <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>

          <%= f.submit "Create my account", id:"btnNewUser" ,class: "btn btn-large btn-primary" %>

        </div>
      </div>
    </div>


<% end %>