<div class="well">
  <h1><%= current_user.club.name %></h1>
</div>
<div class="row-fluid">
  <div class="span4">
    <h2>Upcoming Events</h2>
    <% @events.each do |e| %>
        <div class="span5">Event: <%= link_to e.title, e %></div>
        <div class="span5">Start Time: <%= e.starts_at %></div>
        <div class="span5">End Time: <%= e.ends_at %></div>
        <hr class="shadow">
    <% end %>
  </div><!--/span-->
  <div class="span4">
    <h2>Latest Forum Posts</h2>
    <% @topics.each do |t| %>
        <div class="span5">Topic: <%= link_to t.name, t.forum %></div>
    <% end %>
  </div><!--/span-->
  <div class="span4">
    <h2><%= club_url(request.subdomain).heading3 %></h2>
    <%= club_url(request.subdomain).message3 %>
  </div><!--/span-->
</div><!--/row-->