<div class="row">
  <div class="span6 offset3">
    <%= form_for (@post) do |f| %>
        <% if params[:topic] %>
            <input type="hidden" id="topic_forum_id" name="post[topic_id]" value="<%= params[:id] %>" />
        <% end %>
        <textarea name="post[content]" cols="80" rows="20"><%= params[:content] %></textarea>
        <% if params[:forum] %><input type="hidden" id="topic_forum_id" name="topic[forum_id]" value="<%= params[:forum] %>" /><% end %>
        <%= f.submit "Create Post", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>