<% provide(:title, 'Event')%>
<h1><%= @event.name %> Event Details</h1>
<table class="table table-condensed table-striped">
  <thead>
    <th>Event Name</th>
    <th>Start Time</th>
    <th>Description</th>
    <th>End Time</th>
  </thead>
  <tr>
    <td><%= @event.title %></td>
    <td><%= @event.description %></td>
    <td><%= @event.starts_at %></td>
    <td><%= @event.ends_at %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
