<% provide(:title, 'Event')%>

<div class="span12">

    <h3><%= @event.name %> Event Details - <%= @event.title %></h3>
    <br>

    <div class="big-buffer">
        <%= markdown.render(@event.description).html_safe %>
        <hr>
    </div>
    <div>
        <strong>Start Time:</strong> <%= show_day(@event.starts_at) %>
    </div>
    <div>
        <strong>End Time:</strong> <%= show_day(@event.ends_at) %>
    </div>

  <% if @event.limit? %>
        <div>
          Limit:<%= @event.limit %>
        </div>
  <% end %>
  <br>


    <% if current_user.admin?%><%= link_to 'Edit', edit_event_path(@event) %> | <% end %>
    <%= link_to 'Back', calendar_path %>
    <hr class="shadow">
</div>
    <h3>Who's going?</h3>


    <table class="table table-condensed table-striped">
      <thead>
      <th>name</th>
      <% if current_user.admin? %> <th>email</th> <% end %>
      <th>status</th>
      </thead>
      <tbody>
      <% @users.each do |u| %>
          <% if u.get_slot_state(params[:id]) == "Signed Up" %>
              <tr>
                <td><%= u.name %></td>
                <%if current_user.admin?%><td><%= u.email %></td><% end %>
                <td><%= u.get_slot_state(params[:id]) %></td>
              </tr>
          <% end %>
      <% end %>
      <% @users.each do |u| %>
          <% if u.get_slot_state(params[:id]) == "Waiting" %>
              <tr>
                <td><%= u.name %></td>
                <%if current_user.admin?%><td><%= u.email %></td><% end %>
                <td><%= u.get_slot_state(params[:id]) %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <%= form_for @event do |e| %>
        <% if signed_up?%>
            <%= e.submit "remove me", :class => "btn btn-primary" %>
        <% else %>
            <%= e.submit "add me", :class => "btn btn-primary" %>
        <% end %>
        <% if current_user.admin? %>-or- <%= link_to "add/remove a member","#", :id => "btnAdminAddUser", :class => "btn btn-primary"  %><% end %>
    <% end %>
    <% if current_user.admin? %><%= render 'admin_add_user'%><% end %>






