<%= provide(:title, "#{current_club.name} Sponsors") %>
<h1 class="text-shadow"><%= current_club.name %>'s Sponsors</h1>

<div class="span10">
<% @sponsors.each do |s| %>
      <div class="row">
        <h4 class="sponsor"><%= show_label(s.label) %></h4>
        <% if s.image_name? %>
            <%= image_tag(s.image_path, :height => '90', :width => '120', :alt => s.url, :class =>"sponsorLink floatleft") %>
        <% else %>
            <%= link_to s.name, s.url %>
        <% end %>
        <p><%= markdown.render(s.description).html_safe %></p>
        <% unless current_user.nil? %>
            <% if current_user.admin? %>
            <%= link_to '[edit sponsor]', "/sponsors/#{s.id}/edit" %>
            | <%= link_to '[delete sponsor]', s, :confirm => 'Are you sure?', :method => :delete  %>

            <% end %>
         <% end %>
        <%= render 'shared/addthis_sponsor_follow', :object => s %>
      </div>
      <br>
      <hr>
<% end %>
</div>


<%= render 'shared/sponsor_form' %>
<div class="row">
  <div class="span3"><% unless current_user.nil? %>
        <% if current_user.admin? %>
            <br>
            <button id="btnNewSponsor" class="btn btn-primary">add new sponsor</button>   <br>
        <% end %>
    <% end %>
  </div>
</div>