<%= provide(:title, "Renew | #{@user.name}") %>
<h1>user renewal - <%= @user.name %></h1>
<div class="span8 offset2" id="user_renew_main"></div>
<div class="row">
  <div class="span8 offset2">
   <%= render 'shared/cc_errors' %>
    <%= form_for @user, :html => {:id => 'renew_users'}, :url => {:controller => :renew_users, :action => :update} do |f| %>

        <div class="row" id="tabs">

          <ul>
            <li><a href="#tabs-1">User Information</a></li>
            <li><a href="#tabs-2">Terms and Conditions</a></li>
            <li><a href="#tabs-3">Payment Information</a></li>
          </ul>

          <div class="span7">
            <div id="tabs-1">

              <h4>The enrollment fee for <%= current_club.name %> is $<%= current_club.fee %>/year.</h4><br><hr class="payments">
              <ul class="payments">
                <li>Please enter your Name, email address, and password to create an account.</li>
                <li>Your email address will be used as your login and password must be at least 6 characters.</li>

              </ul>
              <hr>
              <div class="span4">
                <%= render 'fields', :f => f %><br>
                <%= link_to 'Next >>', "#" ,:class => "btn btn-primary", :id => "btnTabs" %><br>
                <div class="big-buffer"></div>
              </div>
            </div>
            <div id="tabs-2" class="legal">
              <h4>Terms and Conditions</h4>
              <hr class="payments">
              <br>
              <%= markdown.render(current_club.terms_and_conditions).html_safe unless current_club.terms_and_conditions.nil? %>
              <%= check_box_tag 'termsYes' %> I accept the <%= current_club.name %> Terms and Conditions <br>
              <%= check_box_tag "termsNo"%> I don't accept the <%= current_club.name %> Terms and Conditions <br><br>
              <%= link_to "Next >>", "#", :class => "btn btn-primary", :id => "btnTabPay" %>
            </div>
            <div id="tabs-3" class="span4">
              <label for="fee"><h5>Yearly Fee - $<%= current_club.fee %></h5></label>
              <input type="hidden" id="stripe_pk" value="<%= current_club.stripe_publishable_key %>"/>

              <%= render 'shared/cc_input' %>

              <%= f.submit "renew my account", :id => "btnRenewUser" ,:class => "btn btn-primary"  %>

            </div>
          </div>
        </div>
        <div class="big-buffer"></div>
        <small><i>Payments Processed by Stripe - www.stripe.com</i></small>


    <% end %>
  </div>
</div>