<div class="container">
  <div class="span5 offset3">
    <h2>Club Payment</h2>
    <%= form_for(@subscription) do |f| %>
        <% if @subscription.errors.any? %>
            <div class="error_messages">
              <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
              <ul>
                <% @subscription.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <%= f.hidden_field :stripe_card_token %>
        <div class="field">
          <%= label_tag :price, "Price: $25/month" %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, :value => current_club.contact_email %>
        </div>

        <%= render 'shared/cc_input' %>

        <div class="actions"><%= f.submit "Subscribe", :class => 'btn btn-primary' %></div>
    <% end %>
  </div>
</div>


