<header class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
  <div class="navbar-inner">
    <div class="container">
      <% if signed_in? %>
        <%= link_to current_user.club.name, root_path, id: "logo" %>
      <% else %>
        <%= link_to club_url(request.subdomain).name, root_path, id: "logo" %>
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Forums", "/forums"%></li>
              <li><%= link_to "Calendar", "/calendar"%></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-user icon-white"></i>
                  <%= current_user.name %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out #{current_user.name}", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
              <% if current_user.admin? %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Add Event",new_event_path%></li>
                  <li><%= link_to "Club Settings", current_user.club %></li>
                  <li><%= link_to "Edit Club", edit_club_path(current_user.club_id) %></li>
                </ul>
              </li>
              <% end %>
          <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
